# Node modules
node_modules/

# Playwright test artifacts
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Logs
logs/
*.log

# Environment files
.env
.env.*

# TypeScript build output
dist/
out/
build/

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/



# Temporary files
*.tmp
*.bak
